div.dropdown-component {
    display: flex;
    text-align: left;

    position: relative;

    div#dropdown {
        border-radius: 8px;
        background-color: var(--clr-input);
        flex-direction: row;
        justify-content: center;
        padding: var(--pd-input);
        padding-left: 0.5rem;
    }

    span.placeholder {
        color: var(--clr-label);
        font-size: 0.8rem;
        opacity: 50%;
    }
}

ul.options {
    background-color: var(--clr-input);
    position: absolute;
    top: 100%;
    width: inherit;

    li:hover {
        background-color: var(--clr-valid);
    }
}

/* CUSTOM SCROLLBAR */
/* THX w3schools: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp*/
::-webkit-scrollbar {
    background-color: var(--clr-input);
}
::-webkit-scrollbar-thumb {
    background-color: var(--clr-valid);
}
